
body {
color: black;
font-family: arial, helvetica, sans-serif;
background-image: linear-gradient(cyan, purple);
}
img.screencap {width:350px}
img.screencap2 {width:200px}
img.screencap3 {width:200px}
img.screencap4 {width:200px}
img.screencap5 {width:200px}
img.screencap6 {width:200px}
img.screencap7 {width:350px}

ol {list-style-type: lower-alpha;
padding: 5em;
    
}
